.seo-blue-b{
    background-color: #3b5998;
}

.seo-alternative-b{
    background-color: #FFD063;
}

/** ----------------**/
/** -----Navbar-----**/
/** ----------------**/
.seo-navbar {
    font-size: 18px;
    position: relative;
    padding: 0.01rem 1.5rem;
}
  
.seo-navbar ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.seo-navbar ul li a{
    color: #f8f8f8;
    text-decoration: none;
}

.seo-navbar ul li i{
    color: #f8f8f8;
    font-size: 1.1em;
    margin-right: .5em;
}

.seo-navbar ul li img{
    position:relative;
    top:-8px;
}

.seo-navbar ul li a:hover{
    color:white;
}

/** -------------------**/
/** -----Container-----**/
/** -------------------**/

.container-fluid h1{
    margin-top: 2em;
    text-align: center;
}

.container-fluid div{
    text-align: center;
    display: block;
    max-width: 800px;
    font-size: .8em;
    background-color: #ff00000d;
    padding: 1em;
    border-radius: 2em;
    margin: 0.5em 0;
    margin-bottom: 2em;
    /* -webkit-box-shadow: -9px 20px 56px -27px rgba(0,0,0,0.64);
    -moz-box-shadow: -9px 20px 56px -27px rgba(0,0,0,0.64);
    box-shadow: -9px 20px 56px -27px rgba(0,0,0,0.64); */
}

.container-fluid div.seo-card{
    font-size: 1.3em;
    margin-bottom: 0.5em;
}

.container-fluid div.seo-card-tb h4{
    text-align:left !important;
}

/*--- Image ---*/
.seo-container-logo{
    padding:0;
    margin:0;
    background-color: #ffff !important;
}

.seo-container-logo img{
    display: inline-block;
    width: 8em;
    height: auto;
    margin-bottom: 0;
    margin-top: 1.5em;
}


/*--- Cards ---*/ 
.seo-cards-container{
    display:flex;
    display: -ms-flexbox;
    justify-content: center;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    width: 100%;
}

.seo-card {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    font-weight: 400;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.25rem;
    border: 0;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin:3em 1.5em
}

.seo-card-100{
    max-width: 15em;
    max-height: 19.5em;
}


.seo-card img{
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.seo-div-title{
    display: flex;
    background-color: #252424eb;
    border-radius: 2em;
    padding: .3em;
    margin-bottom: 1em;
}

/*-- TB --*/
.seo-card-tb{
    max-width: 15em;
    max-height: 13em;
}

.seo-title-tb{
    background-color:#ecdddd4f;
    padding: .5em;
}

.seo-text-tb{
    background-color:#17161647;
    color: #f7f7f2;
    padding: 0.3em 0.8em 0.3em 2em;
}

.seo-box-description{
    margin: 2em 2em !important;
    margin-bottom: 5em !important;
}


/** --------------------**/
/** -----Animations-----**/
/** --------------------**/

.seo-footer{
    background-color: #171616e0;
    color:white;
    text-align: center;
    font-size: .5em;
    bottom: 0;
    width: 100%;
}

/** --------------------**/
/** -----Animations-----**/
/** --------------------**/

.seo-animation-pulse{
	animation-name: seo-animation-pulse;
	-webkit-animation-name: seo-animation-pulse;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes seo-animation-pulse {
	0% {
		transform: scale(0.8);
		opacity: 0.7;		
	}
	50% {
		transform: scale(1);
		opacity: 1;	
	}	
	100% {
		transform: scale(0.8);
		opacity: 0.7;	
	}			
}

@-webkit-keyframes seo-animation-pulse {
	0% {
		-webkit-transform: scale(0.8);
		opacity: 0.7;		
	}
	50% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(0.8);
		opacity: 0.7;	
	}			
}

@media screen and (max-width: 919px){
    .seo-card{
        margin:4vw 1vw;
    }

    .seo-card-100 {
        font-size:1em;
        max-width: 14.5em;
        max-height: 22em;
    }
}

@media screen and (max-width: 835px){
    .seo-box-description{
        font-size: 1.1em !important;
    }
    .seo-card{
        margin:4vw 0.5vw;
    }

    .seo-card-100 {
        font-size:1em;
        max-width: 13.5em;
        max-height: 22em;
    }
}


@media screen and (max-width: 768px){
    .container-fluid div {
        margin:0;
    }
    
    .seo-card{
        margin:4vw 10%;
    }

    .seo-card-100 {
        font-size:1em;
        max-width: 30em;
        max-height: 22em;
    }

    .seo-card-tb{
        font-size: .8em;
        max-width: 15em;
        max-height: 22em;
    }

    .seo-text-tb{
        padding: 0.2em 0.3em 0.2em 1em;
    }
}