/*---------------------*/ 
/*--- Cards Section ---*/ 
/*---------------------*/ 
.card {
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    -ms-flex-direction: column;
    word-wrap: break-word;
        
    background-color: #f8f8f8;
    background-clip: border-box;
    
    border-radius: 0.25rem;
    border: 0;
    
    margin:3em 3em;
    max-width: 13em;
    max-height: 17.5em;

    font-size: .8em;
    
    -webkit-box-shadow: -8px 12px 12px 0px rgba(0,0,0,0.29);
    -moz-box-shadow: -8px 12px 12px 0px rgba(0,0,0,0.29);
    box-shadow: -8px 12px 12px 0px rgba(0,0,0,0.29);
}

.card h3{
    font-size: 1.3em;
}

.about{
    display: flex;
    align-items: center;
    border-radius: 2em;
    padding: .3em;
    margin-bottom: 1em;
}

.about h4{
    margin: 0.2em;
}

.cardText{
    font-size: 0.9em;
}

.cardText p{
    text-align: center;
    padding: 0.5em;
    background-color: #21212112;

    margin-top: 4em;
}

.card img{
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

@media screen and (max-width: 1200px){
    .card{
        font-size:.75em;
        margin:3em 1.9em;
        max-width: 14.5em;
        max-height: 22em;
    }
}

@media screen and (max-width: 992px){
    .card{
        margin:4vw 1.5vw;
    }
}

@media screen and (max-width: 835px){
    .card{
        margin:4vw 1.2vw;
        max-width: 14em;
    }
}

@media screen and (max-width: 768px){
    .card{
        margin:4vw 10%;
        max-width: 34em;
    }
}

@media screen and (max-width: 576px){
    .card{

        max-width: 32em;
    }
}